$font-main: 'Roboto', sans-serif;
$color-yellow: #ffde6a;
$color-gray: #f3f3f3;
$color-blue: #00acdc;
$hover-blue: #00acdc;
$title-hover: #34568b;
$color-white: #fff;
$color-border: #e0e0e0;
$color-text: #060b35;
$nav-color: #060b35;
$radius-card: 5px;
$color-bg-body: #fafafa;
$color-gray-text: #616070;
$card-width: 200px;
$gap-x: 46px;
$gap-y: 48px;
$transition-duration: 300ms;
$catalog-padding-y: 50px;
$catalog-padding-x: 40px;
